/* body{
  background-color: #e9e9e9;
} */

header{
    /* background-image: url(img/ec1.jpg);
    height: 100%;
    padding-bottom: 40%; */
    margin-bottom: 30px
}

#nav1{
    background-color: #000066;
    /* background-color: #000090; */
    /* background-color: transparent; */
}

#nav2{
    /* background-color: #000090; */
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-top: 48px;
}

#nav2 ul li a{
    color: black;
    margin-right: 12px;
}

#us {
    padding-bottom: 5px;
}

#us a{
    color: aliceblue;
}

#us a:hover{
    color: lightsteelblue;
}

#us a #fb{
    width: 25px;
    height: 25px;
}

#us a #ig{
    width: 34px;
    height: 25px;
}

#us a #tw{
    width: 25px;
    height: 25px;
}

#us a #yt{
    width: 30px;
    height: 25px;
}

#us a #fb:hover{
    /* background-image: url(img/fb2.png); */
    background: #3b5998;
    transition: .5s;
}

#us a #ig:hover{
    /* background-image: url(img/fb2.png); */
    background: #E1306C;
    transition: .5s;
}

#us a #tw:hover{
    /* background-image: url(img/tw2.png); */
    background: #00BFFF;
    transition: .5s;
}

#us a #yt:hover{
    /* background-image: url(img/yt2.png); */
    background: red;
    transition: .5s;
}

#appLogo img{
    height: 30px;
    width: 100px;
}

#logo img{
    width: 80px;
    height: 60px;
}

#carouselExampleCaptions img{
    height: 500px;
}

.navbar ul li a{
    border-radius: 10px;
    transition: .5s;
}

.navbar ul li a:hover{
    background: #99c;
    color: white;
}

.card-deck{
  margin-bottom: 20px;
}

.container-fluid{
  background-color: #e9e9e9;
}
